<launch>
    <include file="$(find kmi_turtlebot_launch)/launch/minimal.launch"/>
    <include file="$(find kmi_turtlebot_launch)/launch/sensors/hokuyo.launch"/>
    <include file="$(find kmi_turtlebot_launch)/launch/sensors/astra_pro.launch"/>
    <include file="$(find kmi_turtlebot_launch)/launch/navigation.launch"/>
    <include file="$(find kmi_turtlebot_launch)/launch/tag_detection_big.launch"/>
</launch>
